# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
*.db

# Environnements virtuels
env/
venv/
*.env

# Fichiers IDE
.idea/
.vscode/

# Secrets et fichiers sensibles .
*.env
=3.7,
=3.8,
