aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
attrs
cachetools
certifi
charset-normalizer
colorama
distro
Django
django-cors-headers
djangorestframework
filelock
flake8
frozenlist
fsspec
fuzzywuzzy
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httpx
huggingface-hub
idna
Jinja2
jiter
joblib
MarkupSafe
mccabe
mpmath
multidict
networkx
npm
numpy
openai
optional-django
packaging
pillow
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pycodestyle
pydantic
pydantic_core
pyflakes
pyparsing
pyspellchecker
python-dotenv
PyYAML
regex
requests
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
sniffio
sqlparse
sympy
threadpoolctl
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
tzdata
uritemplate
urllib3
yarl
